.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  color: snow;
  padding: 0 60px;
}
.Home {
  font-size: 30px;
  background: black;
  color: snow;
  margin-left: 200px;
  cursor: pointer;
}
.top {
  display: flex;
  align-items: center;
}

.List {
  margin-left: 200px;
  display: flex;
  column-gap: 50px;
}

.user {
  display: flex;
  column-gap: 20px;
  margin-right: 20px;
}
