.container {
  max-width: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.page {
  display: flex;
  justify-content: center;
}

.movies {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.raiting {
  text-align: center;
}
.butt {
  cursor: pointer
}
